.background
{
    background-image: linear-gradient(90deg,#fcbf16,#992154);
    text-align: center;
}
.logo
{
    border-radius:50%;
}
.text
{
    letter-spacing: 5px;
    padding-top: 50px;
    padding-bottom: 100px;
    color: white;
}